$color-up: rgb(28, 212, 37);
$color-down: rgb(255, 115, 91);

$color-loader-body: rgb(255, 255, 255);
$color-loader-accent: rgb(41, 73, 255);
$color-loader-back: rgba(0, 0, 0, 0.4);

$color-btn: rgb(241, 160, 54);
$color-btn-hover: lighten($color-btn, 10%);
$color-btn-disabled: rgb(94, 94, 94);

$color-active: rgb(255, 116, 169);
$color-clickable: rgb(255, 226, 221);
